body {
    margin: 0;
    min-height: 100%;
    font-family: "Helvetica Neue";
    font-size: 20px;
}
h1, p, a {
    margin-top: 0;
}
h1, h2, h3, h4 {
    font-family: "Geneva";
    margin-top: 0;
    margin-bottom: 0;
}

.page-title {
    text-align: center;
}

html {
    height: 100%;
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;

    transition: clip-path 0.5s ease-in-out;
    background-image: url(kijetesantakalu.svg);
    background-repeat: repeat;
    background-size: 100px;
}

#toki-wrapper {
    left: 0;
    background-color: #e8f0f0;
}
#en-wrapper {
    right: 0;
    background-color: #ffffff;
}

#toki-wrapper.expanded {
    clip-path: inset(0 0% 0 0);
    -webkit-clip-path: inset(0 0% 0 0);
}
#toki-wrapper:not(expanded) {
    clip-path: inset(0 100% 0 0);
    -webkit-clip-path: inset(0 100% 0 0);
}

#en-wrapper.expanded {
    clip-path: inset(0 0 0 0%);
    -webkit-clip-path: inset(0 0 0 0%);
}
#en-wrapper:not(expanded) {
    clip-path: inset(0 0 0 100%);
    -webkit-clip-path: inset(0 0 0 100%);
}

#content-toki {
    background-color: #dddddd;
}

#content-en {
    background-color: #eeeeee;
}

.content {
    height: 100%;
    margin-left: 15vw;
    margin-right: 15vw;

    color: #444455;
}

.change-language {
}

.header {
    padding-top: 1ex;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1ex;
}

.sep {
    height: 2ex;
    background: #cccccc;
}

.body {
    padding-top: 3ex;
    padding-left: 3em;
    padding-right: 3em;
}
